<!DOCTYPE html>
<html>
<%- include ("layout") -%>

    <body>
        <div class="container">
            <br />
            <div class="row justify-content-center">
                <div class="col-4">
                    <h5>Retrieve Patient Summary</h5>

                    <form name="patient-summary" method="post" style="width: 20rem;">
                        <div class="mb-3">
                            <label for="organization" class="form-label">Organization</label>
                            <select class="form-select" name="organization">
                                <option selected></option>
                                <option value="2.16.840.1.113883.3.6147.458.2" <%=search.organization==='2.16.840.1.113883.3.6147.458.2' ? 'selected' : '' %>>Redox Record Locator Service</option>
                                <option value="1.2.840.114350.1.13.0.1.7.3.688884.100" <%=search.organization==='1.2.840.114350.1.13.0.1.7.3.688884.100' ? 'selected' : '' %>>Epic</option>
                                <option value="2.16.840.1.113883.3.651" <%=search.organization==='2.16.840.1.113883.3.651' ? 'selected' : '' %>>CRISP</option>
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="patientid" class="form-label">Patient ID</label>
                            <input type="patientid" class="form-control" name="patientid" value="<%= search.patientid %>">
                        </div>
                        <button type="submit" class="btn btn-primary" formaction="/ccd">Search</button>
                </div>
                <div class="col-8">
                    <h5>Documents</h5>
                    <% if (errorMessage) { %>
                        <%= errorMessage %>
                            <% } %>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Author Facility</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Visit Type</th>
                                            <th scope="col">Department</th>
                                            <th scope="col">Author Department</th>
                                            <th scope="col">Author Location Type</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (results && results.Documents) { results.Documents.forEach(function(document) { %>
                                            <tr>
                                                <th scope="row"><%=document.Author.Location.Facility%></td>
                                                </th>
                                                <td><%= document.Title %></td>
                                                <td><%= document.Type.Name%></td>
                                                <td><%=document.DateTime%></td>
                                                <td><%=document.Visit.Type%></td>
                                                <td><%=document.Location.Department%></td>
                                                <td><%=document.Author.Location.Department%></td>
                                                <td><%=document.Author.Location.Type%></td>
                                                <td><a href="/ccd-view" class="btn btn-primary">View</a></td>
                                            </tr>
                                            <% }) } %>
                                    </tbody>
                                </table>
                                <!-- 
                    <h7>Raw Response</h7>
                    <div id="editor">
                        <%= JSON.stringify(results) %>
                    </div> -->

                </div>
            </div>
        </div>
        <style>
            #editor {
                position: relative;
                height: 400px;
                width: 100%;
            }
        </style>
        <script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript"
            charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js"
            integrity="sha256-z3YWAUWq4ZqhJwjqxdTFwmXUOkEPpQUpdxWHCZVADA4=" crossorigin="anonymous"></script>
        <script>
            var beautify = ace.require("ace/ext/beautify");
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/github");
            editor.session.setMode("ace/mode/json");
            editor.getSession().setValue(js_beautify(editor.getValue(), {
                indent_size: 2
            }));</script>
    </body>

</html>