<!DOCTYPE html>
<html>
<%- include ("layout") -%>

    <body>
        <div class="container">
            <br />
            <div class="row justify-content-center">
                <div class="col-4">
                    <h5>Search</h5>

                    <form name="patient-search" method="post" style="width: 20rem;">
                        <div class="mb-3">
                            <label for="organization" class="form-label">Organization</label>
                            <select class="form-select" name="organization">
                                <option selected></option>
                                <option value="2.16.840.1.113883.3.6147.458.2" <%=search.organization==='2.16.840.1.113883.3.6147.458.2' ? 'selected' : '' %>>Redox Record Locator Service</option>
                                <option value="1.2.840.114350.1.13.0.1.7.3.688884.100" <%=search.organization==='1.2.840.114350.1.13.0.1.7.3.688884.100' ? 'selected' : '' %>>Epic</option>
                                <option value="2.16.840.1.113883.3.651" <%=search.organization==='2.16.840.1.113883.3.651' ? 'selected' : '' %>>CRISP</option>
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="firstName" value="<%= search.firstName %>">
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="lastName" value="<%= search.lastName %>">
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="form-label">Date of birth</label>
                            <input type="date" class="form-control" name="dob" value="<%= search.dob %>">
                        </div>
                        <div class="mb-3">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" name="gender">
                                <option selected></option>
                                <option value="Female" <%=search.gender==='Female' ? 'selected' : '' %>>Female</option>
                                <option value="Male" <%=search.gender==='Male' ? 'selected' : '' %>>Male</option>
                                <option value="Other" <%=search.gender==='Other' ? 'selected' : '' %>>Other</option>
                                <option value="Unknown" <%=search.gender==='Unknown' ? 'selected' : '' %>>Unknown
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" value="<%= search.email %>">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Street Address</label>
                            <input type="text" class="form-control" name="address" value="<%= search.address %>">
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" name="city" value="<%= search.city %>">
                        </div>
                        <div class="mb-3">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" name="state" value="<%= search.state %>">
                        </div>
                        <div class="mb-3">
                            <label for="zip" class="form-label">ZIP Code</label>
                            <input type="text" class="form-control" name="zip" value="<%= search.zip %>">
                        </div>
                        <button type="submit" class="btn btn-primary" formaction="/patient-search">Search</button>
                        <button type="submit" class="btn btn-danger" formaction="/patient-create">Create</button>
                    </form>

                </div>
                <div class="col-8">
                    <h5>Results</h5>
                    <% if (errorMessage) { %>
                        <%= errorMessage %>
                            <% } %>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Patient ID</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">DOB</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (results && results.Patients) { results.Patients.forEach(function(patient) { %>
                                            <tr>
                                                <th scope="row"><%= patient.Identifiers[0].ID %></th>
                                                <td><%= patient.Demographics.FirstName %></td>
                                                <td><%= patient.Demographics.LastName%></td>
                                                <td><%=patient.Demographics.DOB%></td>
                                                <td><%=patient.Demographics.Sex%></td>
                                                <td><%=patient.Demographics.Address.StreetAddress%></td>
                                                <td><%=patient.Demographics.PhoneNumber.Home%></td>
                                                <td><a href="/ccd" class="btn btn-primary">View</a></td>
                                            </tr>
                                            <% }) } %>
                                            <% if (results && results.Patient) { %>
                                                <tr>
                                                    <th scope="row"><%= results.Patient.Identifiers[0].ID %></th>
                                                    <td><%= results.Patient.Demographics.FirstName %></td>
                                                    <td><%= results.Patient.Demographics.LastName%></td>
                                                    <td><%=results.Patient.Demographics.DOB%></td>
                                                    <td><%=results.Patient.Demographics.Sex%></td>
                                                    <td><%=results.Patient.Demographics.Address.StreetAddress%></td>
                                                    <td><%=results.Patient.Demographics.PhoneNumber.Home%></td>
                                                    <td><a href="/ccd" class="btn btn-primary">View</a></td>
                                                </tr>
                                                <% } %>
                                    </tbody>
                                </table>
                                <!-- 
                    <h7>Raw Response</h7>
                    <div id="editor">
                        <%= JSON.stringify(results) %>
                    </div> -->

                </div>
            </div>
        </div>
        <style>
            #editor {
                position: relative;
                height: 400px;
                width: 100%;
            }
        </style>
        <script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript"
            charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js"
            integrity="sha256-z3YWAUWq4ZqhJwjqxdTFwmXUOkEPpQUpdxWHCZVADA4=" crossorigin="anonymous"></script>
        <script>
            var beautify = ace.require("ace/ext/beautify");
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/github");
            editor.session.setMode("ace/mode/json");
            editor.getSession().setValue(js_beautify(editor.getValue(), {
                indent_size: 2
            }));</script>
    </body>

</html>